<footer>
  <div class="h-card">
    <a class="u-url" href="https://simonbalderson.me">
      <span class="p-honorific-prefix">Mr</span>
      <span class="p-given-name">Simon</span>
      <span class="p-family-name">Balderson</span>
    </a>
    (<a class="u-url" href="https://twitter.com/psi_mon">@psi_mon</a>)
    <span class="p-org">Wells Cathedral School</span>
    <span class="p-job-title">Assistant Head (Digital Strategy)</span>
    <span class="p-category">Strategy</span>
    <span class="p-category">Leadership</span>
    <span class="p-category">Education</span>
    <span class="p-category">Technology</span>
  </div>
</footer>
