<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="title" content="Simon Balderson">
  <meta name="description" content="Educational Leadership, Technology and Philosophy.">
  <meta name="author" content="Simon Balderson">

  <meta property="og:url" content="https://simonbalderson.me" />
  <meta property="og:description" content="Educational Leadership, Technology and Philosophy." />
  <meta property="og:title" content="Simon Balderson" />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:type" content="profile" />
  <meta property="profile:first_name" content="Simon" />
  <meta property="profile:last_name" content="Balderson" />
  <meta property="og:image" content="https://swbalderson.github.io/assets/simon-balderson.jpg" />
  <meta property="og:image:width" content="682">
  <meta property="og:image:height" content="682">
  <meta property="og:site_name" content="Simon Balderson" />

  <title>Simon Balderson</title>

  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131497244-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131497244-1');
  </script>
  
  <link rel="stylesheet" href="{{site.url}}/css/style.css"></link>
</head>
