<section id="navbar">
  <div class="column">
    <h1><a href="{{site.url}}/">Simon Balderson</a></h1>
  </div>
  <div class="column">
    <nav>
      <a href="{{site.url}}/">About</a>
      <a href="{{site.url}}/blog">Blog</a>
      <a href="{{site.url}}/cv">CV</a>
      <a href="{{site.url}}/contact">Contact</a>
    </nav>
  </div>
  <div class="column nav-social">
    <a class="fa-layers fa-3x linkedin" href="https://www.linkedin.com/in/simonbalderson/">
      <i class="fa fa-circle"></i>
      <i class="fab fa-linkedin-in fa-inverse" data-fa-transform="shrink-6"></i>
    </a>
    <a class="fa-layers fa-3x twitter" href="https://twitter.com/SimonWBalderson">
      <i class="fa fa-circle"></i>
      <i class="fab fa-twitter fa-inverse" data-fa-transform="shrink-6 down-.25 right-.25"></i>
    </a>
  </div>
</section>
